*{
	margin:0;
	padding:0;
	text-decoration:none;
	box-sizing:border-box;
}
body{
	font-family:Geneva,Tahoma,san-serif;
	color:#323232;
	line-height:1.3;
	text-align:center;
	height:100%;
}

.floating{float:left;}
.overlay{
	background:linear-gradient(90deg,#000000b3,transparent);
	height:100%;
}
.divider{
	background:transparent;
	height:4em !important;
}
.name img{
	width:60px;
	height:60px;
	margin-right:auto;
}

.menubtn{
	display:none;
}
header{
	display:flex;
	justify-content:space-between;/*flex-end*/
	color:white;
	padding:0.5em;
	background:#1d1c1c;
    position:relative;
	text-align:left;
	text-shadow:-1px 1px 2px black;
	position:fixed;
	width:100%;
	transition:top 0.3s;
	z-index:5;
}

.menu-list{
	float:right;
	background:transparent;
	text-align:center;
	margin:0.4em;
	position:relative;
	list-style-type:none;
	transition:all 0.5s ease;
}
.menu-list li{
	border-radius:20px;
	display:inline-block;
	padding:0.2em;
	margin:0.3em;
	border-radius:22px;
	text-decoration:none;
	transition:all 0.5s ease;
	cursor:pointer;
}
.link{
	color:#fff;
	text-decoration:none;
	font:normal 21px trebuchet ms !important;
	padding:0em;
}

.link:hover{
	color:gold;
}
#showcase{
	height:60px;
	width:100%;
	color:white;
	margin:0;
}

h1{
	font-size:33px;
	color:gold;}
h2{
	font:bold 30px tahoma;}
h3{
	font-size:24px;
}
h4{
	font:normal 21px tahoma;
	color:#085598;
}
h5{ 
	font:normal 17px arial;
	margin:0.1em;
}

.btn_top{
	position:fixed;
	top:90%;
	left:90%;
	width:53px;
	background:#f5f5f54d;
	border:solid 1px white;
	border-radius:50%;
	padding:0 0;
	align-items:center;
}
.btn_top img{
	margin:0;
	padding:0;
}
.btn_top:hover{
	background:white;
}
main{
	margin:0em;
	padding:0em;
}
article{
	margin:0em;
	padding:0em;
	display:inline-block;
}
article img{
	width:98%;
	margin:0.1em;
}

article video{
	width:32.5%;
	display:inline;
	margin:0em;
	align-items:center;
	border-radius:2px;
}

section{
	width:46%;
	margin:0.2em;
	display:inline-block;
	border-radius:7px;
}
article p{
	padding:1em 7em;
	text-align:left;
}
section p{
	display:block;
	clear:both;
	padding:0.5em;
	text-align:left !important;
}

.learn{
	background:#0f89f0;
	font:normal 18px tahoma;
	color:white;
	padding:0.4em 1em;
	margin:0.5em;
	border:solid 1px #0f89f0;
	border-radius:22px;
	text-shadow:-1px 1px 2px #333;
	cursor:pointer;
}
.learn:hover{
	background:black !important;
	color:white;
}
.learn:active{
	border:solid 1px red;
}
.extend{
	display:none;
}
.more{
	background:white;
	color:#1773c2;
	padding:0.1em;
	border:none;
	cursor:pointer;
	text-decoration:none;
	font:normal 15px cursive;
}
.more:hover{
	background:#333 !important;
	color:white;
}
.more:active{
	border:solid 1px #e60e53;
}

.X{
	background:#993e33;
	float:right;
	font:normal 19px tahoma;
	color:white;
	padding:0.3em;
	border:solid 1px #993e33;
	text-shadow:-1px 1px 2px #333;
	cursor:pointer;
}
.X:hover{
	background:red;
}

#give{
	display:none;
	position:fixed;
	top:11%;
	margin:0 10%;
	background:white;
	height:80%;
	width:80%;
	border:solid 1px #993e33;
	z-index:5;
}
#give section{
	padding:1em;
}
#give h1{color:#333;}
.form{
	width:75%;
	height:2.8em;
	font-size:16px;
}

.imgsection{
	background-size:cover;
	height:540px !important;
	color:white;
	padding:0em;
	margin:2em 0;
	line-height:1.2;
}

.imgsection section{
	width:40%;
	float:left;
	position:relative;
	top:20px;
	border:none;
}
.imgsection .more{
	color:#333;
	background:yellow;
	font:normal 20px arial;
	padding:0.5em;
	border-radius:3px;
	border:solid 1px yellow;
	text-shadow:none;
}
.imgsection .more:hover{
	color:white !important;
}
.imgsection h1{
	text-align:center;
	font-size:33px;
}
.imgsection h2{
	text-align:center;
	font-size:39px;
	color:white;
}
.imgsection .overlay{
	background:linear-gradient(90deg,#000000b3,transparent);
	
}
.imgsection p{
	padding:1em;
}
#imgtext0{
	background:url('images/school kids.jpg')center no-repeat;
	background-size:cover;
	margin:0;
}
#imgtext0 section{
	padding-top:3em;
	text-align:center !important;
}
#imgtext1{
	background:url('images/lioness.jpg')center no-repeat;
	background-size:cover;
}
#imgtext1 section{
	float:right;
}
#imgtext1 .overlay{
	background:linear-gradient(90deg,transparent,#000000b3);
	height:100%;
}
#imgtext2{
	background:url('images/corn field.jpg')center no-repeat;
	background-size:cover;
}

.gallery{
	display:block;
}
.gallery video{
	display:inline-block;
	font:bold 15px tahoma;
	background:transparent;
	border:none;
	z-index:4;
}

#sub-menu a{
	color:#0ccf8a !important;
}
#social{display:block;
	   padding:0px;
	   position:relative;
	   align-self:center;
	   margin:0.5em;}
#social a{
	text-decoration:none;
	padding:0px !important;
	margin:0px !important;
	background:transparent;
}

#social button{
	width:50px;
	height:50px;
	background:transparent;
	border-radius:50%;
	padding:0 0 !important;
	margin:0 !important;
	align-items:center;
	border:none;
	}

#social img{
	width:110%;
	margin:0;
	padding:0;
}
#social button:hover{
	transform:scale(1.2,1.2);
}
footer{
	background:#252a2f;
	display:block;
	width:100%;
	text-align:center;
	padding:0px;
	font-size:12px;
	margin:0px;
	z-index:3;
}
footer p{
	font:normal 15px tahoma;
	color:#cdd8d6;
	line-height:1.6;
	padding:0.3em;
}
footer li{
	border-radius:5px;
	display:inline-block;
	text-decoration:none;
	cursor:pointer;
	margin:0.2em;
	font:normal 17px arial;
}
footer a{
	color:white;
	text-align:center;
	text-decoration:none;
	padding:0.5em;
	border-radius:5px;
	transition:all 0.5s ease;
}
footer .link{
	color:white;
}
footer .link:hover{
	color: red;
}

#trademark{
	width:100%;
	background:#253136 !important;
	line-height:1.6;
	padding:0.1em;
	margin-top:1em;
	color:#cdd8d6 !important;
}
#trademark h5{
	color:#cdd8d6 !important;
	font:normal 15px tahoma;
}

@media screen and (max-width:780px){
	.navbar_collapse{height:220px !important;}
	.btn_top{
		left:85%;
	}
	.divider{
		height:3em !important;
	}
	
	header .learn{
		display:none;
	}
	header{
		display:block;
		position:fixed;
		width:100%;
		padding:0.1em 0.2em;
		margin-bottom:0px;
		z-index:5;
	}
	.menubtn{
		display:block;
		float:right;
		margin:3px;
		background:transparent;
		border:solid 1px transparent;
		border-radius:5px;
		cursor:pointer;
	}
	.bar1,.bar2,.bar3{
		width:30px;
		height:5px;
		margin:0.5rem;
		background:white;
		transition:all 0.5s ease;
	}
	.change .bar1{transform:rotate(-45deg) translate(-10px,10px)}
	.change .bar2{opacity:0;}
	.change .bar3{transform:rotate(45deg) translate(-8px,-8px)}
		
	.menu-list{
		display:block;
		float:right;
		width:100%;
		height:0;
		margin:0;
		padding:0;
		overflow:hidden;
		transition:all 0.5s ease;
		list-style-type:none;
		z-index:3;
	}
	.menu-list li{
		display:block;
		padding:0;
		margin:0;
		background:#05474d;
		border-radius:0px;
		padding:16px;
		margin:0px;
	}
	.link{
		font:normal 20px tahoma !important;
		color:white;
		text-shadow:-1px 1px 2px #333;
		cursor:pointer;
		text-decoration:none;
		z-index:3;
	}
	.imgsection section{
		float:right;
		position:relative;
		text-align:left;
		width:95% !important;
		top:65%;
	}
	.imgsection .overlay{
		background:linear-gradient(180deg,#000000b3,transparent);
		
	}
	.imgsection h1{
		text-align:left;
		font-size:33px;
	}
	.imgsection p{
		padding:0em;
	}
	main{
		width:100%;
		text-align:left;
	}
	article{
		margin:0em;
		padding:0em;
	}
	article img{
		width:99%;
		margin:0.1em;
	}
	
	article section{
		width:98% !important;
	}
	article p{
		padding:1em;
	}
	section p{
		padding:0.7em;
	}
	
	article video{
		width:98% !important;
		margin:0.1em 0;
	}
	
	#imgtext0 section,#imgtext0 h1{
		top:50%;
		text-align:center !important;
	}
	#imgtext1 .overlay{
		background:linear-gradient(0deg,#000000b3,transparent);
	}
	#imgtext2 section{
		top:0% !important;
	}

	#give{
		top:8%;
		margin:2%;
		height:90%;
		width:96%;
		overflow:auto;
	}
	#give section{
		padding:0.3em;
	}
	#give h1{
		font-size:24px;
	}
	.form{
		width:100%;
	}
	
}
@media screen and (max-width:500px){
	
	header .learn{
		font-size:18px;
		background:#0f89f0;
		border:solid 0px #0f89f0;
	}
}